<section class="politica-empresa">
    <div class="container-grid">
        <h3>Política da Empresa</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ipsum corporis nam nobis unde cupiditate impedit est earum optio repellat esse deserunt sed inventore 
            provident quaerat assumenda rem maxime, doloremque eaque?<br/>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque, fugit nesciunt placeat totam nostrum 
            cupiditate necessitatibus quos adipisci eum distinctio accusantium minima aut modi odit molestiae officiis est magnam!
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias fugit id nostrum, soluta quibusdam eum, exercitationem hic impedit voluptatibus ullam dicta facilis aut labore? Hic voluptatibus nobis id quidem odio.
        </p>
    </div>
</section>
