<footer>
    <div class="container-grid">
        <div class="logo-footer">
            <a href=""><img src="../../../assets/img/logo_emiliano_agronegocios_branco.png" alt=""></a>
        </div>
        <div class="dados-footer">
            <p>Emiliano Agronegócios Ltda  |  CNPJ 000000000000
            <br/>
            Rodovia BA 573 km 8,5 - Zona Rural<br/>
            Macaúbas - Bahia</p>
        </div>
        <div class="redes-rodape">
            <a href=""><img src="../../../assets/img/square-facebook (1).svg" alt=""></a>
            <a href=""><img src="../../../assets/img/instagram (1).svg" alt=""></a>
            <a href=""><img src="../../../assets/img/whatsapp (2) (1).svg" alt=""></a>
        </div>	
        <div class="copyright">
            <p>
                ©️ Copyright 2022 Emiliano Agronegócios Ltda. <br/>
                Todos os direitos reservados.
            </p>   		
        </div>
    </div>
</footer>
