
<section class="contato container-grid">
    <div class="center">
        <div class="w50 contato-info">
            <h2>A mais importante, <br/> primeira conversa</h2>
            <br/>
            <p><b>Telefone:</b> (77) 3473-1925</p>
            <p><b>Email:</b> contato@emilianoagronegocios.com.br</p>
            <p><b>Endereço:</b> Rodovia BA 573 kM 8,5 - Zona Rural - Macaúbas/BA</p>

            <div class="mapa-container">
                <div id="mapa"></div>

            </div><!--mapa-->
        </div><!--w50-->

        <div class="w50 contato-form">
            <form action="">
                <input placeholder="Nome" type="text">
                <input placeholder="E-mail" type="text">
                <input placeholder="Telefone" type="text">
                <select name="" id="">
                    <option value=""></option>
                    <option value="">Elogio</option>
                    <option value="">Reclamação</option>
                </select>
                <textarea placeholder="Mensagem" name="" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="clear"></div>
    </div><!--center-->
</section>