
<section class="parceiros-slider">
    <h3>Parceiros</h3>
    <div class="center">
        <div style="max-width: 900px;margin: 0 auto;overflow: hidden;align-items:center;" class="slider-container">
            <img src="../../../assets/img/logo-trendbrasil.png" alt="">
            <img src="../../../assets/img/logo-magna-2.png" alt="">
            <img src="../../../assets/img/logo-emiliano-distribuidora.png" alt="">
            <img src="../../../assets/img/logo-emiliano-distribuidora.png" alt="">
        </div><!--slider-container-->
    </div><!--center-->
</section>



