<section class="menu-bar">
    <div class="container-grid">
        <div class="itens-menu">
            <div class="logo">
                <a href=""><img src="../../../assets/img/logo-emiliano-agronegocios-colorido.png" alt="logo emiliano agronegocios"></a>
            </div>

            <ul class="menu-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Parceiros</a></li>
                <li><a href="#">Cotação</a></li>
                <li><a href="#">Contato</a></li>
            </ul>

            <div class="mobile-menu-icon">
                <button onclick="openNav()"><img class="icon" src="../../../assets/img/menu_white_36dp.svg" alt=""></button>
            </div>  
        </div>
    </div>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="../../../assets/img/close_white_36dp.svg" alt=""></a>

        <div class="overlay-content">
            <a href="#">Home</a>
            <a href="#">Parceiros</a>
            <a href="#">Cotação</a>
            <a href="#">Home</a>
        </div>
    </div>

    
</section>


    


