<section class="quemsomos">
    <div class="container-grid">
        <h3>Quem Somos</h3>
        <p>
            Atuamos há mais de <b>...</b> anos no segmento de transporte, logística,
            produção e comercialização de cachaça artesanal, manga palmer/tommy e peixes.  
            Hoje estamos entre as 10 maiores empresas deste setor no Brasil.
            Ao longo de nossa trajetória, sempre primamos por oferecer 
            soluções logísticas customizadas, 
            oferecendo um portfólio de serviços que atende toda cadeia 
            logística. Com uma equipe de colaboradores engajados, 
            filiais e base de apoio estrategicamente posicionadas e
            veículos equipados com tecnologia embarcada, 
            geramos segurança e alta produtividade para nossos clientes.
            A Emiliano Agronegócios é o parceiro ideal para o seu negócio!
        </p>
    </div>
</section>
